body{
  background: #ECFDF5;
    
}
/*Theme styling*/
.span-container{
    background: #34D399;
    width: 45px;
    border-radius:20px; 
    height: 20px;
    display: flex;
    flex-direction: column;
    
}
.span-container:hover{
    cursor: pointer;
}
.dark,.light{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius:50%; 
    
}

.dark{
    background: #1F2937;
    align-self: flex-end;
   
}
.light{
    background: white;  
}

/*Content styling*/
/* .content-container{
    max-width: 1100px;
    margin:  0 auto;
} */
.title{
    font-size: 2.5em;
}
.desc{
    color: #6B7280;
    letter-spacing:1px;
    
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
 
    
}
.input-number{
       -moz-appearance: textfield;
       width: 30px;
       text-align: center;
       border:1px solid;
       border-radius:8px;  
       
}
.input-number:focus{
    outline: none;
}

/* #number,#symbols,#number{
    margin-left: 1em;
} */
.input-length{
    margin: 1em 0;
}
.symbol{
   margin-left: 1em;
}


.green{
    color: #10B981
}
.btn{
    background: #10B981;
    border: none;
    color: #fff;
    padding: 0.5625em 0.9375em;
    border-radius: 10px;
    cursor: pointer;  
    display: block;
    margin: 1em 0; 
}
.btn:hover{
    background:#6EE7B7;
    color: black;
}
.flex{
    display: flex;
    justify-content: center;
    
    
}
.passwords{
    background-color: #273549;
    padding:  .4em 3em;
    margin: 1em;
    border-radius: 6px;
    
}




.random-pass{
  
    margin: 0;
    font-size: 1em;
}

/*utility class*/
.white{
    color: white
}


/*media queries*/

@media(max-width:434px){
  
    .flex{
        flex-direction: column;
        
    }
    .random-pass{
        text-align: center;
        
    }
}